[Desktop Entry]
Name=DopaTrack
Comment=A dopamine tracking application
Exec=dopatrack
Icon=dopatrack
Terminal=false
Type=Application
Categories=Utility; 